In [2]:
import pandas as pd

In [3]:
sales_df_og = pd.read_excel("Vatsal docs\MERCHANDISE SALES.XLS")
beer_store_invoice_df = pd.read_csv("parsed_invoice.csv")
beer_store_master = pd.read_excel("Vatsal docs\Beer Store Price Book.xlsx")

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:3: SyntaxWarning: invalid escape sequence '\B'
<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:3: SyntaxWarning: invalid escape sequence '\B'
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_28432\2883586256.py:1: SyntaxWarning: invalid escape sequence '\M'
  sales_df_og = pd.read_excel("Vatsal docs\MERCHANDISE SALES.XLS")
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_28432\2883586256.py:3: SyntaxWarning: invalid escape sequence '\B'
  beer_store_master = pd.read_excel("Vatsal docs\Beer Store Price Book.xlsx")

WARNING *** file size (90048) not 512 + multiple of sector size (512)

In [ ]:
#beer_store_invoice_df['UPC Code'] = beer_store_invoice_df['UPC Code'].apply(lambda x: str(x) if pd.notnull(x) else x)

,Item No.,UPC Code,SAP Article No,Product Description,Quantity Ordered,Quantity Confirmed,Unit Price (C$),Extended Price (Incl. Tax) (C$)
0,6020,NaN,NaN,PECC CANBIN,3,3,0.00,0.00
1,90055,NaN,NaN,RED BIN LINER 1 EA DC ONLY,1,1,0.00,0.00
2,17849,6.206738e+10,2597354.0,"CORONA, 330ML 12EB BTL REFILL",6,6,27.13,162.78
3,17818,6.206738e+10,2597353.0,"CORONA, 330ML 6EB BTL REFILL",12,12,15.56,186.72
4,17823,6.206738e+10,2598011.0,"STELLA ARTOIS, 330ML 6EB BTL",16,16,14.67,234.72

In [6]:
beer_store_invoice_df['UPC Code'] = beer_store_invoice_df['UPC Code'].apply(lambda x: str(int(x)) if pd.notnull(x) else x)
beer_store_invoice_df = beer_store_invoice_df.dropna(subset=['UPC Code'])
beer_store_invoice_df.head()

,Item No.,UPC Code,SAP Article No,Product Description,Quantity Ordered,Quantity Confirmed,Unit Price (C$),Extended Price (Incl. Tax) (C$)
2,17849,62067382420,2597354.0,"CORONA, 330ML 12EB BTL REFILL",6,6,27.13,162.78
3,17818,62067382413,2597353.0,"CORONA, 330ML 6EB BTL REFILL",12,12,15.56,186.72
4,17823,62067382222,2598011.0,"STELLA ARTOIS, 330ML 6EB BTL",16,16,14.67,234.72
5,19266,672975229696,1709306.0,"BEAUS LUG TREAD, 473ML 6TC CAN 9LAY/PAL",4,4,17.99,71.96
6,228486,62067351846,1033042.0,BLUE 473ML 12TC CAN,6,6,23.60,141.60

In [9]:
sales_df = sales_df_og.copy()
sales_df.head()

,Merchandise Sales,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Site: 41951 - Ultramar - 5267 Aurora Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,From 5/28/2025 thru 5/28/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Entry Type,Item No,Description,Package,Units,Unit Retail,Amount
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Paperwork Date: 5/28/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
sales_df.dtypes

Merchandise Sales     object
Unnamed: 1            object
Unnamed: 2            object
Unnamed: 3            object
Unnamed: 4            object
Unnamed: 5            object
Unnamed: 6            object
Unnamed: 7            object
dtype: object

In [8]:
# Remove the first column
sales_df_cleaned = sales_df.drop(sales_df.columns[0], axis=1)

# Find the row containing 'Entry Type' and 'Item No'
header_row_idx = sales_df_cleaned[
    sales_df_cleaned.apply(lambda row: row.astype(str).str.contains('Entry Type').any() and row.astype(str).str.contains('Item No').any(), axis=1)
].index

if len(header_row_idx) > 0:
    header_row = header_row_idx[0]
    # Promote this row to header
    sales_df_cleaned.columns = sales_df_cleaned.iloc[header_row]
    sales_df_cleaned = sales_df_cleaned.iloc[header_row + 1:].reset_index(drop=True)

sales_df_cleaned['Item No'] = sales_df_cleaned['Item No'].astype(str).str.strip()
sales_df_cleaned.dropna(inplace=True)
sales_df_cleaned.reset_index(drop=True, inplace=True)
sales_df_cleaned.head()

2,Entry Type,Item No,Description,Package,Units,Unit Retail,Amount
0,U,61900107053,Next Original KS 8X25,1PK,5,$15.29,$76.45
1,U,61900107008,Next Original KS 10X20,1PK,5,$12.29,$61.45
2,U,59300024803,Pall Mall Smooth KS 10X20,1PK,4,$12.29,$49.16
3,U,59300024810,Pall Mall Smooth KS 8X25,1PK,3,$15.29,$45.87
4,U,61900107060,Next Select KS 8X25,1PK,2,$15.29,$30.58

In [30]:
beer_store_master.head()

,Beer Name,UPC,Pack Size,POS Price With Tax and Deposit,Price as Per Beer Store,With Tax Price,Deposit Charge,Total With Tax and Deposit
0,Molson cold shots,0-56327014145,6 Pack,NaN,4.07,4.5991,0.4,4.9991
1,Molson,0-56327007949,6 Pack,16.71,14.99,16.9387,0.6,17.5387
2,Budweiser,0-62067335389,6 Pack,16.71,14.99,16.9387,0.6,17.5387
3,Coors Light,0-56327007956,6 Pack,16.71,14.99,16.9387,0.6,17.5387
4,Busch Larger,0-62067380617,6 Pack,12.99,11.99,13.5487,0.6,14.1487

In [74]:
beer_store_master['UPC'] = beer_store_master['UPC'].str.replace('-', '', regex=False).str.strip()
beer_store_master

,Beer Name,UPC,Pack Size,POS Price With Tax and Deposit,Price as Per Beer Store,With Tax Price,Deposit Charge,Total With Tax and Deposit
0,Molson cold shots,056327014145,6 Pack,NaN,4.07,4.5991,0.4,4.9991
1,Molson,056327007949,6 Pack,16.71,14.99,16.9387,0.6,17.5387
2,Budweiser,062067335389,6 Pack,16.71,14.99,16.9387,0.6,17.5387
3,Coors Light,056327007956,6 Pack,16.71,14.99,16.9387,0.6,17.5387
4,Busch Larger,062067380617,6 Pack,12.99,11.99,13.5487,0.6,14.1487
...,...,...,...,...,...,...,...,...
77,Miller High Life,056327012028,Single,2.25,1.99,2.2487,0.1,2.3487
78,Miller Draft,056327012301,Single,3.27,2.89,3.2657,0.1,3.3657
79,Lug Thread,672975229610,Single,3.45,3.39,3.8307,0.1,3.9307
80,Lowenbrau,062067860539,Single,2.25,1.99,2.2487,0.1,2.3487
81,Old Style Pilsner,056327593930,Single,2.15,1.99,2.2487,0.1,2.3487

In [75]:
beer_store_invoice_df.to_csv("newdf/beer_store_invoice_df.csv", index=False)
sales_df_cleaned.to_csv("newdf/sales_df_cleaned.csv", index=False)
beer_store_master.to_csv("newdf/beer_store_master_cleaned.csv", index=False)

In [79]:
beer_store_invoice_df.dtypes

Item No.                             int64
UPC Code                            object
SAP Article No                     float64
Product Description                 object
Quantity Ordered                     int64
Quantity Confirmed                   int64
Unit Price (C$)                    float64
Extended Price (Incl. Tax) (C$)    float64
dtype: object

In [ ]:
# Remove leading zeros from 'UPC' in beer_store_master for matching
beer_store_master['UPC'] = beer_store_master['UPC'].str.lstrip('0') if beer_store_master['UPC'].dtype == object else beer_store_master['UPC']



# Remove leading zeros from 'UPC Code' in beer_store_invoice_df for matching
new = pd.merge(beer_store_invoice_df, beer_store_master, left_on='UPC Code', right_on='UPC', how='outer', )

In [92]:
new

,Item No.,UPC Code,SAP Article No,Product Description,Quantity Ordered,Quantity Confirmed,Unit Price (C$),Extended Price (Incl. Tax) (C$),Beer Name,UPC,Pack Size,POS Price With Tax and Deposit,Price as Per Beer Store,With Tax Price,Deposit Charge,Total With Tax and Deposit
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Molson cold shots,,Single,-,0.00,0.0000,0.1,0.1000
1,568188.0,56327004368,1056042.0,MOLSON CANADIAN 473ML 12TC CAN,7.0,7.0,28.90,202.30,Molson,56327004368,12 Pack,31.07,27.49,31.0637,1.2,32.2637
2,568170.0,56327004375,1060042.0,COORS LIGHT 473ML 12TC CAN,5.0,5.0,27.13,135.65,Coors Light,56327004375,12 Pack,28.81,27.49,31.0637,1.2,32.2637
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Molson,56327007949,6 Pack,16.71,14.99,16.9387,0.6,17.5387
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coors Light,56327007956,6 Pack,16.71,14.99,16.9387,0.6,17.5387
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Moosehead,776029703092,6 Pack,16.94,14.99,16.9387,0.6,17.5387
83,6020.0,NaN,NaN,PECC CANBIN,3.0,3.0,0.00,0.00,Molson,NaN,24 Pack,48.05,43.49,49.1437,2.4,51.5437
84,6020.0,NaN,NaN,PECC CANBIN,3.0,3.0,0.00,0.00,Budweiser,NaN,24 Pack,43.45,43.49,49.1437,2.4,51.5437
85,90055.0,NaN,NaN,RED BIN LINER 1 EA DC ONLY,1.0,1.0,0.00,0.00,Molson,NaN,24 Pack,48.05,43.49,49.1437,2.4,51.5437
86,90055.0,NaN,NaN,RED BIN LINER 1 EA DC ONLY,1.0,1.0,0.00,0.00,Budweiser,NaN,24 Pack,43.45,43.49,49.1437,2.4,51.5437

In [ ]:
new.to_csv("newdf/merged_invoice_master.csv", index=False)

In [94]:
pd.merge(sales_df_cleaned, beer_store_master, left_on='Item No', right_on='UPC', how='outer').to_csv("newdf/full_merge.csv", index=False)

### After upload section

In [142]:
def clean_sales_xlsx(sales_df) -> pd.DataFrame:
    # Remove the first column
    sales_df_cleaned = sales_df.drop(sales_df.columns[0], axis=1)

    # Find the row containing 'Entry Type' and 'Item No'
    header_row_idx = sales_df_cleaned[
        sales_df_cleaned.apply(lambda row: row.astype(str).str.contains('Entry Type').any() and row.astype(str).str.contains('Item No').any(), axis=1)
    ].index

    if len(header_row_idx) > 0:
        header_row = header_row_idx[0]
        # Promote this row to header
        sales_df_cleaned.columns = sales_df_cleaned.iloc[header_row]
        sales_df_cleaned = sales_df_cleaned.iloc[header_row + 1:].reset_index(drop=True)

    sales_df_cleaned['Item No'] = sales_df_cleaned['Item No'].astype(str).str.strip()
    sales_df_cleaned.dropna(inplace=True)
    sales_df_cleaned.reset_index(drop=True, inplace=True)

    return sales_df_cleaned

def clean_beer_store_master(beer_store_master_df):
    """
    Removes UPC "-" from UPC, 
    Removes "0" prefix from UPC.
    """
    beer_store_master_df['UPC'] = beer_store_master_df['UPC'].str.replace('-', '', regex=False).str.strip()
    beer_store_master_df['UPC'] = beer_store_master_df['UPC'].str.lstrip('0') if beer_store_master_df['UPC'].dtype == object else beer_store_master_df['UPC']
    return beer_store_master_df

def clean_beer_store_invoice_df(beer_store_invoice_df):
    beer_store_invoice_df['UPC Code'] = beer_store_invoice_df['UPC Code'].apply(lambda x: str(int(x)) if pd.notnull(x) else x)
    beer_store_invoice_df = beer_store_invoice_df.dropna(subset=['UPC Code'])
    return beer_store_invoice_df

In [143]:
sales_df_og = pd.read_excel("Vatsal docs/MERCHANDISE SALES.XLS")
beer_store_invoice_df = pd.read_csv("parsed_invoice.csv")
beer_store_master = pd.read_excel("E:\Vatsal inventory system\Vatsal docs\Beer Store Price Book.xlsx")

WARNING *** file size (90048) not 512 + multiple of sector size (512)

<>:3: SyntaxWarning: invalid escape sequence '\V'
<>:3: SyntaxWarning: invalid escape sequence '\V'
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_28432\139357210.py:3: SyntaxWarning: invalid escape sequence '\V'
  beer_store_master = pd.read_excel("E:\Vatsal inventory system\Vatsal docs\Beer Store Price Book.xlsx")

In [144]:
beer_store_master.head()

,Beer Name,UPC,Pack Size,POS Price With Tax and Deposit,Price as Per Beer Store,With Tax Price,Deposit Charge,Total With Tax and Deposit
0,Molson cold shots,0-56327014145,6 Pack,NaN,4.07,4.5991,0.4,4.9991
1,Molson,0-56327007949,6 Pack,16.71,14.99,16.9387,0.6,17.5387
2,Budweiser,0-62067335389,6 Pack,16.71,14.99,16.9387,0.6,17.5387
3,Coors Light,0-56327007956,6 Pack,16.71,14.99,16.9387,0.6,17.5387
4,Busch Larger,0-62067380617,6 Pack,12.99,11.99,13.5487,0.6,14.1487

In [145]:
sales_df = clean_sales_xlsx(sales_df_og)
beer_store_invoice_df = clean_beer_store_invoice_df(beer_store_invoice_df)
beer_store_master = clean_beer_store_master(beer_store_master)

In [146]:
beer_store_master.head()

,Beer Name,UPC,Pack Size,POS Price With Tax and Deposit,Price as Per Beer Store,With Tax Price,Deposit Charge,Total With Tax and Deposit
0,Molson cold shots,56327014145,6 Pack,NaN,4.07,4.5991,0.4,4.9991
1,Molson,56327007949,6 Pack,16.71,14.99,16.9387,0.6,17.5387
2,Budweiser,62067335389,6 Pack,16.71,14.99,16.9387,0.6,17.5387
3,Coors Light,56327007956,6 Pack,16.71,14.99,16.9387,0.6,17.5387
4,Busch Larger,62067380617,6 Pack,12.99,11.99,13.5487,0.6,14.1487

In [22]:
sales_df.head()
sales_df.to_csv("cleaned_uploads/sales_df.csv")

In [23]:
beer_store_invoice_df.head()
beer_store_invoice_df.to_csv("cleaned_uploads/invoicedf.csv")

In [24]:
beer_store_master.head()
beer_store_master.to_csv("cleaned_uploads/masterdf.csv")

In [128]:
beer_store_master.shape

(82, 9)

In [147]:
master = beer_store_master.copy()
sales = sales_df.copy()
invoices = beer_store_invoice_df.copy()
master['current_stock'] = 5

# --- 2. Standardize column names for the join key ('item_no') ---
# Per your instructions, we map UPC, Item_no, and UPC code to a single key.
master.rename(columns={'UPC Code': 'UPC'}, inplace=True)
sales.rename(columns={'Item No': 'UPC'}, inplace=True)
invoices.rename(columns={'UPC Code': 'UPC'}, inplace=True)

#master = master.drop(columns=['Unnamed: 0'])
master.head()

,Beer Name,UPC,Pack Size,POS Price With Tax and Deposit,Price as Per Beer Store,With Tax Price,Deposit Charge,Total With Tax and Deposit,current_stock
0,Molson cold shots,56327014145,6 Pack,NaN,4.07,4.5991,0.4,4.9991,5
1,Molson,56327007949,6 Pack,16.71,14.99,16.9387,0.6,17.5387,5
2,Budweiser,62067335389,6 Pack,16.71,14.99,16.9387,0.6,17.5387,5
3,Coors Light,56327007956,6 Pack,16.71,14.99,16.9387,0.6,17.5387,5
4,Busch Larger,62067380617,6 Pack,12.99,11.99,13.5487,0.6,14.1487,5

In [148]:
master.shape

(82, 9)

In [114]:
print(master.columns, "\n", sales.columns, "\n", invoices.columns)

Index(['Beer Name ', 'UPC', 'Pack Size ', 'POS Price With Tax and Deposit',
       'Price as Per Beer Store ', 'With Tax Price', 'Deposit  Charge ',
       'Total With Tax and Deposit', 'current_stock'],
      dtype='object')
 Index(['Entry Type', 'UPC', 'Description', 'Package', 'Units', 'Unit Retail',
       'Amount'],
      dtype='object', name=2)
 Index(['Item No.', 'UPC', 'SAP Article No', 'Product Description',
       'Quantity Ordered', 'Quantity Confirmed', 'Unit Price (C$)',
       'Extended Price (Incl. Tax) (C$)'],
      dtype='object')

In [149]:
master['UPC'] = master['UPC'].astype(str).str.strip()
sales['UPC'] = sales['UPC'].astype(str).str.strip()
invoices['UPC'] = invoices['UPC'].astype(str).str.strip()


master['current_stock'] = pd.to_numeric(master['current_stock'], errors='coerce').fillna(0)
sales['Units'] = pd.to_numeric(sales['Units'], errors='coerce').fillna(0)
invoices['Quantity Confirmed'] = pd.to_numeric(invoices['Quantity Confirmed'], errors='coerce').fillna(0)

In [150]:
sales_summary = sales.groupby('UPC')[['Description', 'Units']].sum().reset_index()
sales_summary.rename(columns={'Units': 'quantity_sold', 'Description': 'sold_product_name'}, inplace=True)

In [117]:
sales_summary.head(15)

2,UPC,sold_product_name,quantity_sold
0,17082000118,JL ORIGINAL BEEF STEAK,1
1,17082009166,JL TERIYAKI BEEF STICK,1
2,17082014832,JL WILD STICK HOT 62GM,1
3,17082470157,JL JALAPENO BEEF JERKY,1
4,17082600752,JL TERIYAKI BEEF STEAK,1
5,17082874436,JL HOT WRAP 2PK PEPPERONI,1
6,17082879035,JL ORIGINAL WRAP PEPPERONI,1
7,17082884343,JL BACON JERKY,1
8,180854000101,RED BULL ENERGY DRINK 250MLRED BULL ENERGY DRI...,5
9,180854000200,RED BULL ENERGY DRINK 4C250ML,1
10,180854000309,RED BULL ENERGY DRINK - SUGAR FREE 250MLRED BU...,4
11,180854000774,RED BULL ENERGY DRINK 473ML,2
12,196742011548,CA Google Play 2022 M6 15-200 CAD,1
13,3170870007939,TERROIR D'ALTITUDE CABERNET SAUVIGNON,1
14,4001982097763,Dab Original,6

In [151]:
invoice_summary = invoices.groupby('UPC')[['Product Description', 'Quantity Confirmed']].sum().reset_index()
invoice_summary.rename(columns={'Quantity Confirmed': 'quantity_received', 'Product Description': 'recived_product_name'}, inplace=True)

invoice_summary.head()

           UPC              recived_product_name  quantity_received
0  56327004368    MOLSON CANADIAN 473ML 12TC CAN                  7
1  56327004375        COORS LIGHT 473ML 12TC CAN                  5
2  56327012219        MILLER LITE, 473ML 6TC CAN                  8
3  56327014145  MOLSON COLD SHOTS, 222ML 4IC CAN                 30
4  56327023918   OLD STYLE PILSNER 473ML 6TC CAN                 16

In [152]:
updated_df = pd.merge(master, sales_summary, on='UPC', how='left')
updated_df = pd.merge(updated_df, invoice_summary, on='UPC', how='left')


updated_df.columns

Index(['Beer Name ', 'UPC', 'Pack Size ', 'POS Price With Tax and Deposit',
       'Price as Per Beer Store ', 'With Tax Price', 'Deposit  Charge ',
       'Total With Tax and Deposit', 'current_stock', 'sold_product_name',
       'quantity_sold', 'recived_product_name', 'quantity_received'],
      dtype='object')

In [153]:
updated_df['quantity_sold'] = updated_df['quantity_sold'].fillna(0)
updated_df['quantity_received'] = updated_df['quantity_received'].fillna(0)

# Calculate the new stock
updated_df['new_stock'] = (
    updated_df['current_stock'] + 
    updated_df['quantity_received'] - 
    updated_df['quantity_sold']
)
    
updated_df.head()

,Beer Name,UPC,Pack Size,POS Price With Tax and Deposit,Price as Per Beer Store,With Tax Price,Deposit Charge,Total With Tax and Deposit,current_stock,sold_product_name,quantity_sold,recived_product_name,quantity_received,new_stock
0,Molson cold shots,56327014145,6 Pack,NaN,4.07,4.5991,0.4,4.9991,5,CANADIAN COLDSHOTS 4C222ML,9.0,"MOLSON COLD SHOTS, 222ML 4IC CAN",30.0,26.0
1,Molson,56327007949,6 Pack,16.71,14.99,16.9387,0.6,17.5387,5,MOLSON CANADIAN,7.0,NaN,0.0,-2.0
2,Budweiser,62067335389,6 Pack,16.71,14.99,16.9387,0.6,17.5387,5,BUDWEISER 6C473,5.0,NaN,0.0,0.0
3,Coors Light,56327007956,6 Pack,16.71,14.99,16.9387,0.6,17.5387,5,COORS LIGHT 6C473,7.0,NaN,0.0,-2.0
4,Busch Larger,62067380617,6 Pack,12.99,11.99,13.5487,0.6,14.1487,5,BUSCH LAGER,11.0,BUSCH LAGER 473ML 6TC CAN,12.0,6.0

In [154]:
updated_df.shape

(82, 14)

In [159]:
updated_df[['current_stock', 'quantity_sold', 'quantity_received', 'new_stock']] = updated_df[['current_stock', 'quantity_sold', 'quantity_received', 'new_stock']].astype(int)
updated_df['sold_product_name'].fillna('Not Applicable')
updated_df['recived_product_name'].fillna('Not Applicable')

0     MOLSON COLD SHOTS, 222ML 4IC CAN
1                       Not Applicable
2                       Not Applicable
3                       Not Applicable
4            BUSCH LAGER 473ML 6TC CAN
                    ...
77                      Not Applicable
78                      Not Applicable
79                      Not Applicable
80                      Not Applicable
81                      Not Applicable
Name: recived_product_name, Length: 82, dtype: object

In [160]:
updated_df.to_csv('last_df.csv')

In [ ]:
def update_master_sheet(master_df, invoice_df, sales_df):
    """
    Updates the master inventory DataFrame based on sales and invoice data.

    Args:
        master_df: DataFrame with current product list and stock levels. 
                   Expected columns: 'UPC', 'current_stock', 'Description'.
        sales_df: DataFrame with outgoing product data. 
                  Expected columns: 'Item_no' (as UPC), 'Units'.
        invoice_df: DataFrame with incoming product data. 
                    Expected columns: 'UPC code', 'QTY'.

    Returns:
        A clean, updated DataFrame with new stock levels and transaction summaries.
    """
    master = master_df.copy()
    sales = sales_df.copy()
    invoices = invoice_df.copy()

    #Standardizing column names
    master.rename(columns={'UPC Code': 'UPC'}, inplace=True)
    sales.rename(columns={'Item No': 'UPC'}, inplace=True)
    invoices.rename(columns={'UPC Code': 'UPC'}, inplace=True)

    #Cleaning Column types
    master['UPC'] = master['UPC'].astype(str).str.strip()
    sales['UPC'] = sales['UPC'].astype(str).str.strip()
    invoices['UPC'] = invoices['UPC'].astype(str).str.strip()

    master['current_stock'] = pd.to_numeric(master['current_stock'], errors='coerce').fillna(0)
    sales['Units'] = pd.to_numeric(sales['Units'], errors='coerce').fillna(0)
    invoices['Quantity Confirmed'] = pd.to_numeric(invoices['Quantity Confirmed'], errors='coerce').fillna(0)

    #Generating Sales and Invoice summary: 
    sales_summary = sales.groupby('UPC')[['Description', 'Units']].sum().reset_index()
    sales_summary.rename(columns={'Units': 'quantity_sold', 'Description': 'sold_product_name'}, inplace=True)

    invoice_summary = invoices.groupby('UPC')[['Product Description', 'Quantity Confirmed']].sum().reset_index()
    invoice_summary.rename(columns={'Quantity Confirmed': 'quantity_received', 'Product Description': 'recived_product_name'}, inplace=True)

    #Conducting merge operations
    updated_df['quantity_sold'] = updated_df['quantity_sold'].fillna(0)
    updated_df['quantity_received'] = updated_df['quantity_received'].fillna(0)

    # Calculate the new stock
    updated_df['new_stock'] = (
        updated_df['current_stock'] + 
        updated_df['quantity_received'] - 
        updated_df['quantity_sold']
    )

    # Cleaning for end user
    updated_df[['current_stock', 'quantity_sold', 'quantity_received', 'new_stock']] = updated_df[['current_stock', 'quantity_sold', 'quantity_received', 'new_stock']].astype(int)
    updated_df['sold_product_name'].fillna('Not Applicable')
    updated_df['recived_product_name'].fillna('Not Applicable')